@media screen and (max-width: 767px) {
  .code {
    width: 343px;
    margin: 0;

    &__main {
      width: 343px;
      height: 492px;

      &__black {
        width: 279px;
        height: 428px;
      }
    }

    &__button {
      width: 343px;
      height: 56px;
      margin-bottom: 40px;
    }
  }

  .details {
    width: 343px;
  }
}
