* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: #051D3B;
}

.header {
  display: flex;
  align-items: center;
  width: 1376px;
  height: 56px;
  margin: 32px auto 40px auto;

  &--mobile {
    display: none;
  }
}
  
.alura_logo {
  width: 145px;
  margin-right: 167px;
  cursor: pointer;
}

.search_input {
  width: 752px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.16);
} 

.profile {
  display: flex;
  align-items: center;
  margin-left: 206px;
  
  &__photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    cursor: pointer;
  }
  
  &__name {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}

.container {
  display: flex;
  max-width: 1376px;
  margin: 40px auto 32px auto;
}

.menu {
  color: #fff;
  width: 189px;
  margin-right: 123px;

  &__title {
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  
  &__code_editor {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    
    &__image {
      margin-right: 16px;
      height: 48px;
    }
  }
  
  &__community {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &__image {
      margin-right: 16px;
      height: 48px;
    }
  }

  &--mobile {
    display: none;
  }
}
